<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"></head>
<style>
    html, body {
        height: 100%;
        width: 100%;
        margin: 0;
    }
    .test{
        width: 100%;
        background-color: #0a0a0a;
        background-image: url("../static/img/home.png");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<body>



    <h1 class="text-center" style="color: white">DIỄN TẬP AN TOÀN THÔNG TIN MẠNG VĨNH PHÚC 2019</h1>
    <h3 class="text-center mt-3" style="color: white" >DIỄN TẬP PHÁT HIỆN VÀ PHỐI HỢP XỬ LÝ TẤN CÔNG HỆ THỐNG CÔNG NGHỆ THÔNG TIN <br/> PHỤC VỤ CHÍNH QUYỀN ĐIỆN TỬ TỈNH VĨNH PHÚC NĂM 2019</h3>
    <div class="row" style="margin-left: 0 !important; margin-right: 0 !important; margin-top: 30vh">
        <div class="col-4" >
            <h4 class="text-center" style="color: white">CƠ QUAN CHỦ TRÌ</h4>
            <h5 class="text-center mt-2" style="color: white">SỞ THÔNG TIN VÀ TRUYỀN THÔNG TỈNH VĨNH PHÚC</h5>
        </div>
        <div class="col-4"></div>
        <div class="col-4">
            <h4 class="text-center" style="color: white">ĐƠN VỊ TỔ CHỨC</h4>
            <h5 class="text-center mt-2" style="color: white">CỤC AN TOÀN THÔNG TIN - BỘ THÔNG TIN & TRUYỀN THÔNG</h5>
            <h5 class="text-center mt-2" style="color: white">CÔNG TY CỔ PHẦN CÔNG NGHỆ THÔNG TIN VÀ TRUYỀN THÔNG VIỆT NAM - VNIST</h5>
        </div>
    </div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>